.item {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .item.reminder {
    border-left: 5px solid green;
  }
  
  .item h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rebeccapurple;
  }
  
  /* // I should add some animation on hover */